<table class="reportheader">
    <tr>
        <th>{{#str}}label_coursename, local_quizattemptexport{{/str}}</th>
        <td>{{{coursename}}}</td>
    </tr>
    <tr>
        <th>{{#str}}label_quizname, local_quizattemptexport{{/str}}</th>
        <td>{{{quizname}}}</td>
    </tr>
    <tr>
        <th>{{#str}}label_studentname, local_quizattemptexport{{/str}}</th>
        <td>{{{studentname}}}</td>
    </tr>
    <tr>
        <th>{{#str}}label_matriculationid, local_quizattemptexport{{/str}}</th>
        <td>{{{matriculationid}}}</td>
    </tr>
    <!--
    <tr>
        <th>{{#str}}label_coursecode, local_quizattemptexport{{/str}}</th>
        <td>{{{coursecode}}}</td>
    </tr>
    -->
    <tr>
        <th>{{#str}}label_attemptstarted, local_quizattemptexport{{/str}}</th>
        <td>{{{attemptstarted}}}</td>
    </tr>
    <tr>
        <th>{{#str}}label_attemptended, local_quizattemptexport{{/str}}</th>
        <td>{{{attemptended}}}</td>
    </tr>
    <tr>
        <th>{{#str}}label_attemptresult, local_quizattemptexport{{/str}}</th>
        <td>{{{attemptresult}}}</td>
    </tr>
</table>
